// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 110vh;
}

* {
  font-family: $font-family-p;
  color: $color-primary-1;
  line-height: $font-height;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
  padding-bottom: 7.5em;
}

article {
  padding: 20px 20px 0 20px;
  margin: 10px 0;
}

video {
  object-fit: fill;
}

// typography

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.2em;
}

h1 {
  font-size: $font-size-xxxlg;
}

h2 {
  font-size: $font-sixe-xxlg;
  margin-bottom: 15px;
}

h3 {
  font-size: $font-size-xlg;
}

h4 {
  font-size: $font-size-lg;
}

h5 {
  font-size: $font-size-md;
}

h6 {
  font-size: $font-size-sm;
}

p {
  font-size: $font-size-lg;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.arrow-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid $color-secondary-2;
  margin-top: 10px;
  margin-right: 10px;
  transition: border-color .15s linear;

  &:hover{
      border-right: 10px solid $color-primary-2;
  }
}

.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid $color-secondary-2;
  margin-top: 10px;
  margin-left: 10px;
  transition: border-color .15s linear;

  &:hover{
      border-left: 10px solid $color-primary-2;
  }
}

@media (max-width: 47.999em) {
  body {
    padding-top: 70px;
  }

  .arrow-left {
    margin-left: 20px;
  }
}
