// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 110vh;
}

* {
  font-family: $font-family-p;
  color: $color-primary-1;
  line-height: $font-height;
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}

article {
  padding: 10px 20px 0 20px;
  margin: 10px 0;
}

// typography

h1 {
  font-size: $font-size-xxxlg;
}

h2 {
  font-size: $font-sixe-xxlg;
  margin-bottom: 15px;
}

h3 {
  font-size: $font-size-xlg;
}

h4 {
  font-size: $font-size-lg;
}

h5 {
  font-size: $font-size-md;
}

h6 {
  font-size: $font-size-sm;
}

p {
  font-size: $font-size-lg;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}
