/* Navigation */
.navbar {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
          -webkit-transition: transform 1s;
          -moz-transition: transform 1s;
          -ms-transition: transform 1s;
          transition: transform 1s;

  &.viewport-bottom {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  }
}


.custom-wrapper {
  background-color: $color-white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  height: 7.5em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  position: fixed;
  top: 24px;
  right: 20px;
  font-size: 0;
  display: none;
  width: 29px;
  height: 34px;

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 29px;
    background-color: $color-primary-1;
    position: absolute;
    top: 50%;
    transition: opacity 0.2s ease;
  }

  .bar {
    &:before,
    &:after {
      content: '';
      width: 29px;
      height: 1px;
      left: 0;
      background-color: $color-primary-1;
      position: absolute;
      transition: top 0.2s ease, bottom 0.2s ease;
    }
    &:before {
      top: 8px;
    }
    &:after {
      bottom: 6px;
    }
  }

  &.x {
    &:before {
      opacity: 0;
    }

    .bar:before {
      top: 16px;
      -webkit-animation: rotatePlus45 0.2s linear;
              animation: rotatePlus45 0.2s linear;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
    }
    .bar:after {
      bottom: 17px;
      -webkit-animation: rotateNegative45 0.2s linear;
              animation: rotateNegative45 0.2s linear;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
    }
  }
}

.nav-panel {
  background-color: $color-white;
	height: 0;
	width: 0;
	position:fixed;
	z-index:1;
	top:0px;
	left:0px;
	overflow-x:hidden;
	padding-top:90px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;

  &.open {
		width: 100vw;
    height: 12.4em;
	}

  a:not(:first-child) {
		color: $color-secondary-2;
		display: block;
		transition: 0.3s;

  	&:hover {
  		color: $color-secondary-2;
  	}
  }
}

@-webkit-keyframes rotatePlus45 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes rotatePlus45 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@-webkit-keyframes rotateNegative45 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@keyframes rotateNegative45 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (max-width: 47.999em) {
  .custom-wrapper {
      height: 5.5em;
      position: fixed;
      width: 100vw;
      top: 0;
  }

  .custom-menu-3 {
      text-align: left;
  }

  .custom-toggle {
      display: block;
  }

  .navbar {
    display: none;
  }
}
