.infini-slide {
  height: 540px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  > div {
    height: 540px;
    width: 5832px;
    background: url(../assets/img/collage.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .img-wrap {
    animation: moveSlideshow 60s linear infinite;
  }
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.66%);
  }
}
