// fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
$font-family-p: 'Lato', Helvetica, sans-serif;
$font-family-s: 'PT Serif', serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

$font-size-xs:0.725rem;
$font-size-sm:0.875rem;
$font-size-md:1rem;
$font-size-lg:1.125rem;
$font-size-xlg: 1.375rem;
$font-sixe-xxlg: 2rem;
$font-size-xxxlg:2.5rem;

// colors
$color-white: #ffffff;
$color-primary-1: #3c3c3c;
$color-primary-2: #1c1c1c;
$color-secondary-1: #d8d8d8;
$color-secondary-2: #c1c1c1;
